* {
  margin: 0;
  padding: 0; }

body {
  font-family: Tahoma, Helvetica sans-serif;
  font-size: 15px; }
  body #wrapper {
    width: 960px;
    margin: 5px auto;
    background-color: #a8dadc;
    padding: 10px 30px 30px 40px; }
    body #wrapper section {
      display: inline-block;
      margin: 10px 0 20px 0;
      vertical-align: top;
      padding-left: 0;
      padding-right: 0; }
    body #wrapper #left {
      background-color: #1d3557;
      width: 300px;
      height: 610px;
      margin-right: 0; }
      body #wrapper #left h3 {
        font-size: 35px;
        color: #8AA49B;
        text-align: center;
        margin: 40px 0 5px 0; }
      body #wrapper #left p {
        font-size: 13px;
        color: white;
        padding-left: 20px;
        padding-right: 56px; }
    body #wrapper #right {
      width: 600px;
      height: 580px;
      background-color: #f1faee;
      margin-left: -4px;
      padding-left: 30px;
      padding-top: 30px; }
      body #wrapper #right .red {
        color: #e63946; }
      body #wrapper #right .email {
        display: block;
        margin-bottom: 20px; }
        body #wrapper #right .email .required {
          margin-left: 420px; }
        body #wrapper #right .email div {
          margin: 5px 0 5px 0; }
        body #wrapper #right .email input {
          width: 570px;
          height: 25px;
          border: 1px solid #e63946; }
      body #wrapper #right .optional {
        color: #CBC1C8; }
      body #wrapper #right .phone {
        margin-bottom: 20px; }
        body #wrapper #right .phone .optional {
          margin-left: 356px; }
        body #wrapper #right .phone div {
          margin: 5px 0 5px 0; }
          body #wrapper #right .phone div input {
            height: 25px;
            padding-left: 5px;
            border: 1px solid #a8dadc; }
          body #wrapper #right .phone div #phone {
            width: 120px;
            margin-right: 20px; }
          body #wrapper #right .phone div #optional {
            width: 415px; }
      body #wrapper #right .message {
        margin-bottom: 20px; }
        body #wrapper #right .message .optional {
          margin-left: 434px; }
        body #wrapper #right .message div {
          margin: 5px 0 5px 0; }
          body #wrapper #right .message div textarea {
            width: 575px;
            height: 100px;
            border: 1px solid #a8dadc; }
      body #wrapper #right .I p {
        margin-bottom: 10px; }
      body #wrapper #right .I div {
        margin-left: 15px;
        margin-bottom: 5px; }
      body #wrapper #right .tick {
        margin-top: 20px;
        margin-bottom: 20px; }
        body #wrapper #right .tick span {
          margin-left: 5px;
          margin-right: 5px; }
          body #wrapper #right .tick span a {
            color: #e63946; }
      body #wrapper #right button {
        margin-bottom: 10px;
        width: 570px;
        height: 30px;
        font-size: 16px;
        padding: auto;
        background-color: #e63946;
        color: #f1faee;
        border-radius: 5px; }
      body #wrapper #right footer {
        margin-top: 10px;
        margin-bottom: 30px; }

/*# sourceMappingURL=style.css.map */
